h1 {
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

p {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10;
    font-style: normal;
}

.button-inline {
    padding-top: 10;
    font-family: "Arimo", sans-serif;
}